In [1]:
from pyspark import SparkContext

In [2]:
sc = SparkContext()

In [3]:
!echo "primera lina" >> example.txt

In [4]:
!cat example.txt

utec peru
2022 lima
peru utecprimera lina

In [6]:
%%writefile example.txt
utec peru
2022 lima
peru utec

Overwriting example.txt

In [7]:
!cat example.txt

utec peru
2022 lima
peru utec

In [99]:
?range

In [41]:
nums = list(range(5))

[0, 1, 2, 3, 4]

In [100]:
# tf0 = sc.textFile(nums) # tf0.collect()

In [44]:
tf = sc.textFile('example.txt',3)

In [48]:
tf = sc.parallelize('example.txt')

In [50]:
tf.collect()

['e', 'x', 'a', 'm', 'p', 'l', 'e', '.', 't', 'x', 't']

In [31]:
# [['utec peru'], ['2022 lima'], ['peru utec'], []], #  para num_partition = 3 (OBS)
tf.glom().collect()

[['utec peru'], ['2022 lima'], ['peru utec'], []]

# Actions

In [14]:
tf.collect()

['utec peru', '2022 lima', 'peru utec']

In [15]:
tf.count()

3

In [18]:
tf.take(2)

['utec peru', '2022 lima']

# Transformations

In [20]:
tf2 = tf.filter(lambda line: 'peru' in line)

In [21]:
tf2

PythonRDD[9] at RDD at PythonRDD.scala:48

In [22]:
tf2.collect()

['utec peru', 'peru utec']

# Example 1: Montecarlo Method

In [102]:
from pyspark import SparkContext, SparkConf
import random

In [103]:
# conf = SparkConf().setMaster("spark://spark-master:7075").setAppName("CircularEntropy")
conf = SparkConf().setMaster("local[6]").setAppName("CircularEntropy")
sc = SparkContext.getOrCreate(conf=conf)

In [105]:
 random.random()

0.7387236036340413

In [112]:
num_samples = 10000000
def inside(p):
    x, y = random.random(), random.random()
    return x*x + y*y < 1

samples = sc.parallelize(range(0, num_samples), 4)

# samples.collect()

In [113]:
%%time 
count = samples.filter(inside).count()

pi = 4 * count / num_samples

pi
# samples.glom().collect()

CPU times: user 8.73 ms, sys: 993 Âµs, total: 9.72 ms
Wall time: 1.84 s

In [114]:
pi

3.1375536

# Example 2: WordCount